[% USE String %]
[% here = String.new(template.name); here = here.lower() %]
[% IF here.search('bug/show.html') %]
<script type="text/javascript">
function changeurl() {

[% has_access = 0 %]
[% access_groups = Param('enhancedtreeview_access_groups') %]
[% FOREACH et_group IN access_groups %]
  [% IF (user.in_group(et_group)) %]
    [% has_access = 1 %]
  [% END %]
[% END %]
[% IF NOT has_access %]
    return; // User does not have access rights to enhanced tree view
[% END %]

    var td = document.getElementById('show_dependency_tree_or_graph');
    if(!td) {
        return;
    }
    var anch_array = td.getElementsByTagName("a");
    if(anch_array) {
        var treeAnchor = anch_array[0];
        var treeUrl = treeAnchor.href;
        enTreeUrl = treeUrl.replace('showdependencytree.cgi?id=', 'page.cgi?id=EnhancedTreeView.html&bug_id=');
        enTreeHtml = '&nbsp;/&nbsp;<a href="' + enTreeUrl + '">enhanced tree</a>';
        $(treeAnchor).after(enTreeHtml);
    }
}

$(document).ready(changeurl);

</script>
[% END %]
