[%#
  # The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Advanced Treeview Bugzilla Extension.
  #
  # The Initial Developer of the Original Code is "Nokia Corporation"
  # Portions created by the Initial Developer are Copyright (C) 2011 the
  # Initial Developer. All Rights Reserved.
  #
  # Contributor(s):
  #   Eero Heino <eero.heino@nokia.com>
  #%]

  [%# INTERFACE
    #   - ids: a list of bug IDs to be displayed as children
    #   - type: the type of tree. 1 = depends on, 2 = blockeds
    # GLOBALS
    #   - seen: Maintains a global hash of bugs that have been displayed
    #%]
  [% global.seen = {} %]
  [%# Display the tree of bugs that this bug depends on. %]
  <p>
    Bugs Shown:

    [% tree_name = "dependson_tree" %]

    [% FOREACH b_data IN bugs_data %]
      [% bugid = b_data.bugid %]
      [% ids = b_data.dependson_ids %]

      [%- IF ids.size -%]
        [% "${bugid}" FILTER bug_link(bugid) FILTER none %] <a href="buglist.cgi?bug_id=[% ids.join(",") %]">([%+ ids.size %])</a>,
      [% ELSE %]
        [% "${bugid}" FILTER bug_link(bugid) FILTER none %],
      [% END %] 
    [% END %] 
    <a href="buglist.cgi?bug_id=[% FOREACH b_data IN bugs_data %][% do_ids = b_data.dependson_ids.join(',') %][% b_data.bugid %],[% do_ids = b_data.dependson_ids.join(',') %][% IF do_ids %][% do_ids %],[% END %][% END %]">view all as bug list</a>
  </p>

    <p class="edit_mode">
      You can now drag and drop items around the tree. Use Ctrl+Drag/Drop to place the item in multiple parts of the tree.
    </p>

    <ul class="tree sortable root no-nest" id='root'>
      <li id='foo_0'><span></span>
        <ul>
        [% PROCESS "pages/EnhancedTreeView_display_tree.html.tmpl" bugs_data=bugs_data %]
        </ul>
      </li>
    </ul>



