[%#
  # The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Advanced Treeview Bugzilla Extension.
  #
  # The Initial Developer of the Original Code is "Nokia Corporation"
  # Portions created by the Initial Developer are Copyright (C) 2011 the
  # Initial Developer. All Rights Reserved.
  #
  # Contributor(s):
  #   Eero Heino <eero.heino@nokia.com>
  #%]


[% PROCESS 'global/field-descs.none.tmpl' %]

[% filtered_desc = blocked_tree.$bugid.short_desc FILTER html %]
[% PROCESS global/header.html.tmpl
   title           = "Dependency tree for $terms.Bug $bugid"
   header          = "Dependency tree for 
                      <a href=\"show_bug.cgi?id=$bugid\">$terms.Bug $bugid</a>"
   javascript_urls = ["js/expanding-tree.js", "js/field.js", "js/util.js"]
   style_urls      = ["skins/standard/dependency-tree.css", "extensions/EnhancedTreeView/web/css/treeview.css?v=$version"]

   subheader      = filtered_desc
   doc_section = "hintsandtips.html#dependencytree"

%]

[% USE Bugzilla %]
[% USE date %]
[% SET select_fields = {} %]
[% FOREACH field = Bugzilla.get_fields(
  { type => constants.FIELD_TYPE_SINGLE_SELECT, custom => 0 })
%]
  [% select_fields.${field.name} = field %]
[% END %]

<script type="text/JavaScript" src="extensions/EnhancedTreeView/web/js/nestedSortable.1.3.1/jquery-1.5.min.js"></script>
<script type="text/JavaScript" src="extensions/EnhancedTreeView/web/js/nestedSortable.1.3.1/jquery-ui-1.8.9.custom.min.js"></script>
<script type="text/JavaScript" src="extensions/EnhancedTreeView/web/js/nestedSortable.1.3.1/jquery.ui.nestedSortable.js"></script>
<script type="text/JavaScript" src="extensions/EnhancedTreeView/web/js/jquery.form.js"></script>
<script type="text/JavaScript" src="extensions/EnhancedTreeView/web/js/EnhancedTreeView.js?v=[% version %]"></script>

<h1>EnhancedTreeView</h1>

[% PROCESS depthControlToolbar %]

[% PROCESS "pages/EnhancedTreeView_create_bug.html.tmpl" tree_section_g ids=b_data.dependson_ids type=1 bsdata = bugs_data %]

[% PROCESS depthControlToolbar %]

[% PROCESS global/footer.html.tmpl %]

<script type="text/javascript">
    // Global variables
    var unsaved_changes = false;
    var original_tree = [];
    var edit_mode = false;
    var sortable_parent = null;
    var sortable_copy = false;
    var sticky = [];
    $(document).ready(function() {
        $('html').click(hide_sticky);

        $('.edit_mode').hide();
        $('.enable_edit_mode').each(function()
            {
                $(this).click(function()
                    {
		        edit_mode = !edit_mode;
                        $('.edit_mode').toggle();
                        $('.read_mode').toggle();
                        $( ".sortable" ).sortable( "option", "disabled", false );
                    });
            });


        $('.loading_element').each(function()
            {
                $(this).hide()
                .ajaxStart(function() {
                    $(this).show();
                })
                .ajaxStop(function() {
                    $(this).hide();
                });

            });
        $('#loadingDiv')
            .hide()  // hide it initially
            .ajaxStart(function() {
                $(this).show();
            })
            .ajaxStop(function() {
                $(this).hide();
            })
        ;

        $('.sortable').nestedSortable({
            disabled: true,
            disableNesting: 'no-nest',
            forcePlaceholderSize: true,
            handle: 'span',
            helper: 'clone',
            items: 'li',
            maxLevels: 30,
            opacity: .6,
            placeholder: 'placeholder',
            revert: 250,
            tabSize: 25,
            tolerance: 'pointer',
            toleranceElement: '> span',
            listType: 'ul',

            start: function (event, ui)
                {
                    sortable_parent = ui.item.parents('li');
                    // copy instead of move
                    if (event.ctrlKey == true)
                    {
                        //ui.item.show();
                        ui.item.clone().insertAfter(ui.item).show();
                        sortable_copy = true;
                    }
                },

            stop: function (event, ui)
                {
                    var done = false;
                    var tree = $(this);
                    var reverted = false;
                    function revert()
                    {
                        alert('This would cause a dependency loop');
                        tree.sortable('cancel');
                        reverted = true;
                    }
                    var tree_bug_ids = [];
                    // dependency loop detection
                    ui.item.parents('li').each(function ()
                        {
                            // detect in the same tree
                            var parent_li = $(this);
                            // bug ids above inserted element in the target tree.
                            // used to check reverse dependency in other trees
                            tree_bug_ids.push(parent_li.attr('id'));
                            ui.item.parent().find('li').each(function ()
                                {
                                    if ($(this).attr('id') == parent_li.attr('id'))
                                    {
                                        revert();
                                        done = true;
                                        return false;
                                    }
                                });
                            if (done)
                            {
                                return false;
                            }

                            // at the top level
                            if (parent_li.parent().closest('li').attr('id') == 'foo_0')
                            {
                                var done = false;

                                var moved_bug_ids = [ui.item.attr('id')];
                                ui.item.find('li').each(function ()
                                {
                                   moved_bug_ids.push($(this).attr('id'));
                                });

                                // detect other trees
                                parent_li.siblings().each(function ()
                                    {
                                        var found_target_tree_bug = false;
                                        var found_target_bug = false;
                                        function check_bug(bug_id)
                                        {
                                            if ($.inArray(bug_id, tree_bug_ids) > -1)
                                            {
                                                found_target_tree_bug = true;
                                            }
                                            if ($.inArray(bug_id, moved_bug_ids) > -1)
                                            {
                                                found_target_bug = true;
                                            }
                                        }

                                        check_bug($(this).attr('id'));
                                        $(this).find('li').each(function ()
                                            {
                                                check_bug($(this).attr('id'));
                                                if (found_target_bug && found_target_tree_bug)
                                                {
                                                    revert();
                                                    done = true;
                                                    return false;
                                                }

                                            });
                                        if (done)
                                        {
                                            return false;
                                        }

                                    });
                            }
                        });

                    parent_li = ui.item.parents('li');
                    p_id = parent_li.attr('id');

                    if (!reverted)
                    {
                        $('.cancel_edit_mode').each(function ()
                        {
                            $(this).removeAttr('disabled');
                        });
                        $('.save_tree').each(function ()
                        {
                            $(this).removeAttr('disabled');
                        });
                        // replace the old parent with the new one for the clone link in all instances of this moved bug
                        $('li[id^='+ui.item.attr('id')+']').each(function ()
                        {
                            var clone_link = $(this).find('.clone_link');
                            // disabling link until saved
                            if (clone_link.attr('href') != undefined)
                            {
                                var href = clone_link.attr('href');
                                clone_link.removeAttr('href');
                            } else
                            {
                                var href = clone_link.attr('hrefnew');
                            }
                            var sortable_parent_id = sortable_parent.attr('id').replace('bug_', '');
                            var blocked_field = href.match('blocked=([0-9,]+)')
                            if (p_id == 'foo_0' || p_id == 'root' || p_id == undefined)
                            {
                                p_id = '';
                            } else
                            {
                                p_id = p_id.replace('bug_', '');
                            }
                            if (blocked_field)
                            {
                                blocked_field = blocked_field[0];
                                // copying so no need to overwrite the previous blocked
                                if (sortable_copy)
                                {
                                    var new_blocked_field = blocked_field + p_id + ',';
                                } else
                                {
                                    var new_blocked_field = blocked_field.replace(sortable_parent_id, p_id);
                                }
                                new_blocked_field = new_blocked_field.replace(',,', ',');
                                clone_link.attr('hrefnew', href.replace(blocked_field, new_blocked_field));
                            // didn't have a real parent until now
                            } else if (href.match('blocked=') && p_id != 'foo_0' && p_id != 'root')
                            {
                                clone_link.attr('hrefnew', href.replace('blocked=', 'blocked='+p_id));
                            }
			    if(sortable_parent_id != p_id && (sortable_parent_id != 'foo_0' || p_id != ''))
			    {
				//alert('sortable_parent_id: '+sortable_parent_id+' p_id:'+p_id);
				unsaved_changes = true;
			    }
                        });
                    }

                    sortable_copy = false;

                    item_a_node = $(parent_li.find('span').find('a').get(0));
                    if (p_id && p_id != 'foo_0' && p_id != 'root')
                    {
                        p_id = p_id.split('_')[1];
                        item_a_node.attr('onclick', 'expclo(this);');
                        item_a_node.attr('class', 'b b_open');
                    }
                }
        });
    original_tree = $('ul.sortable').nestedSortable('toArray', {startDepthCount: 0});

//    $('li [class=bug]').each(function ()
//    {
//        var id = $(this).attr('id').replace('bug_', '');
//        //ajaxify(id);
//    });

    bindSaveButton();

    $(window).unload(
    	function() 
    	{
	    if(unsaved_changes)
	    {
		if(confirm('There are unsaved changes. Changes would be lost. Save before continuing to exit?'))
		{
    		    $('.save_tree').each(function ()
    		    {
        	        $(this).click();
	            });
		}
	    } 
        } 
    );
});
</script>

[%###########################################################################%]
[%# Block for depth control toolbar                                         #%]
[%###########################################################################%]

[% BLOCK depthControlToolbar %]
 <table cellpadding="3" border="0" cellspacing="0" bgcolor="#e0e0e0">
   <tr>
   [%# Hide/show resolved button
       Swaps text depending on the state of hide_resolved %]
   <td align="center">
   <form method="get" action=""
           style="display: inline; margin: 0px;">
     <input name='id' type='hidden' value='EnhancedTreeView.html' />
     <input name="bug_id" type="hidden" value="[% FOREACH bug_data IN bugs_data %][% bug_data.bugid %],[% END %]">
     [% IF maxdepth %]
       <input name="maxdepth" type="hidden" value="[% maxdepth %]">
     [% END %]
     <input type="hidden" name="hide_resolved" value="[% hide_resolved ? 0 : 1 %]">
     <input type="submit" id="toggle_visibility"
            value="[% IF hide_resolved %]Show[% ELSE %]Hide[% END %] Resolved">
   </form>
   </td>

   <td>
     Max Depth:
   </td>

   <td>
     &nbsp;
   </td>

   <td>
   <form method="get" action=""
         style="display: inline; margin: 0px;">
     [%# set to one form %]
     <input type="submit" id="change_maxdepth"
       value="&nbsp;1&nbsp;" 
       [% "disabled" IF realdepth < 2 || maxdepth == 1 %]>
     <input name="bug_id" type="hidden" value="[% bug_id_list %]">
     <input name='id' type='hidden' value='treeview.html' />
     <input name="maxdepth" type="hidden" value="1">
     <input name="hide_resolved" type="hidden" value="[% hide_resolved %]">
   </form>
   </td>

   <td>
   <form method="get" action=""
         style="display: inline; margin: 0px;">
     [%# Minus one form
         Allow subtracting only when realdepth and maxdepth > 1 %]
     <input name='id' type='hidden' value='treeview.html' />
     <input name="bug_id" type="hidden" value="[% bug_id_list %]">
     <input name="maxdepth" type="hidden" value="[%
         maxdepth == 1 ? 1
                       : ( maxdepth ? maxdepth - 1 : realdepth - 1 )
     %]">
     <input name="hide_resolved" type="hidden" value="[% hide_resolved %]">
     <input type="submit" id="decrease_depth" value="&nbsp;&lt;&nbsp;"
       [% "disabled" IF realdepth < 2 || ( maxdepth && maxdepth < 2 ) %]>
   </form>
   </td>

   <td>
   <form method="get" action=""
         style="display: inline; margin: 0px;">
     [%# Limit entry form: the button can not do anything when total depth
         is less than two, so disable it %]
     <input name="maxdepth" size="4" maxlength="4" value="[%
         maxdepth > 0 && maxdepth <= realdepth ? maxdepth : ""
     %]">
     <input name='id' type='hidden' value='treeview.html' />
     <input name="bug_id" type="hidden" value="[% bug_id_list %]">
     <input name="hide_resolved" type="hidden" value="[% hide_resolved %]">
     <noscript>
       <input type="submit" id="change_depth" value="Change"
              [% "disabled" IF realdepth < 2 %]>
     </noscript>
   </form>
   </td>

   <td>
   <form method="get" action=""
         style="display: inline; margin: 0px;">
     [%# plus one form
         Disable button if total depth < 2, or if depth set to unlimited %]
     <input name='id' type='hidden' value='treeview.html' />
     <input name="bug_id" type="hidden" value="[% bug_id_list %]">
     [% IF maxdepth %]
       <input name="maxdepth" type="hidden" value="[% maxdepth + 1 %]">
     [% END %]
     <input name="hide_resolved" type="hidden" value="[% hide_resolved %]">
     <input type="submit" id="increase_depth" value="&nbsp;&gt;&nbsp;" 
        [% "disabled" IF realdepth < 2 || !maxdepth || maxdepth >= realdepth %]>
   </form>
   </td>

   <td>
   <form method="get" action=""
         style="display: inline; margin: 0px;">
     [%# Unlimited button %]
     <input name='id' type='hidden' value='treeview.html' />
     <input name="bug_id" type="hidden" value="[% bug_id_list %]">
     <input name="hide_resolved" type="hidden" value="[% hide_resolved %]">
     <input type="submit" id="remove_limit"
       value="&nbsp;Unlimited&nbsp;"
       [% "disabled" IF maxdepth == 0 || maxdepth == realdepth %]>
   </form>
   </td>

    <td class='read_mode'>
        <input type='button' class='enable_edit_mode' value='Enable Edit Mode' />
    </td>

    <td class='edit_mode'>
        <input type='button' disabled='disabled' class='cancel_edit_mode' value='Cancel' onclick="history.go(0); unsaved_changes=false;" />
        <input type='button' disabled='disabled' class='save_tree' value='Save Tree' />
    </td>
    <td class='loading_element'>
        <img src='extensions/EnhancedTreeView/web/ajax-loader.gif' />
    </td>
 </tr>
</table>
[% END %]
